body{
  background-image: url(immagini/backgroundecommerce.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
}

*{
  font-family: Asap;
}

.container{
  margin-left: : 200px;
  margin-top: 60px;
}

.prodotto{
  width: 300px;
  height: 400px;
  border: solid;
  border-radius: 25px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  background-color: white;
}

.riga2{
  margin-top: 10px;
}

.riga3{
  margin-top: 30px;
}

.prezzo{
  width: 300px;
  height: 50px;
  border: solid;
  border-radius: 25px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  background-color: white;
}

.prezzointero{
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 20px;
  text-decoration: line-through;
}

.prezzoscontato{
  position: absolute;
  right: 20px;
  bottom: 2px;
  font-size: 40px;
}

.barrascontoverde{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  width: 60px;
  height: 30px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 10px;
}

.barrascontorosso{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  width: 60px;
  height: 30px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 10px;
}

.sconto{
  color: white;
  font-weight: 600;
  position: relative;
  top: 5px;
}

button{
  position: absolute;
  bottom: 10px;
  right: 10px;;
  font-size: 20px;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: 600;
}

.wish{
  position: absolute;
  color: red;
  font-size: 35px;
  bottom: 5px;
  left: 15px;
}

.nomeprodotto{
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 20px;
  font-weight: 600;
}
